.profile{
    font-family: 'Despair Display';
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

.profile__avatar{
    width: 115px;
    height: 115px;
    padding-right: 20px;
}

.profile__info{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px 0 0 0;
}

.profile__name{
    font-size: 26px;
    margin: 0;
    padding: 0;
    padding: 0 0 10px 0;
}

.profile__description{
    font-size: 14px;
    color: #ededed;
    margin: 0;
    padding: 0;
    padding: 0 0 10px 0;
}

.profile__geo{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding: 0 0 10px 0;
}

.profile__icon{
    max-width: 25px;
    margin: 0;
    padding: 0;
}

.profile__city{
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

.profile__category{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

.profile__category__item{
    padding: 0;
    margin: 0;
    padding-top: 15px;
    color: #90C4FF;
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    border: none;
}

.profile__wrapper{
    display: flex;
    justify-content: center;
}
