.popup{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: visibility .5s, opacity 0.5s linear;
    z-index: 100;
  }

  .popup_opened{
    opacity: 1;
    visibility: visible;
  }

  .popup__title{
    font-size: 28px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .popup__container{
    background-color: #90C4FF;
    color:#fff;
    font-family: 'Despair Display';
    position: fixed;
    min-width: calc(100% - 32px);
    margin: 0 auto;
    padding: 25px 22px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 95%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .popup__btn-close{
    background-image: url('../../images/button__close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    right: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: .3s ease;
  }

  .popup__btn-close:hover{
      opacity: 0.6;
  }

  .popup__btn-save{
    border: 3px solid #fff;
    background-color:#fff;
    padding: 10px;
    border-radius:20px;
    color:#90C4FF;
    text-align: center;
    align-self: center;
    box-shadow: 1px 1px 10px #fff;
  }
