.card{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
}
.card__img{
    width: 100%;

}
.card__title{
    color: #65539a;
    font-size: 32px;
    font-weight: 700;
}